span {
font-family: 'Pattaya', sans-serif;	
	
}

h5 {
	
	font-family: 'KoHo', sans-serif;	
}

p {
	
font-family: 'Mate SC', serif;

}

h3 {
	
		font-size:30px;
		background-color:#8B4513;
		color:#FFFAFA;
}

